h3 {
    color: white;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: blue;
    font-weight: bolder;
}

.title {
    text-align: center;
    font-size: 48px;
}